*{
    font-family: 'Sora', sans-serif;
}
body{
    background: black;
    color: white;
    
}

#Confirmed,#Active,#Recovered,#Deceased{
    margin-top: 1.5rem;
}
.middle span{
       color: #4c75f2;
}
#NewActiveCases{
    visibility: hidden;
}
#Vaccines{
    color: #db5581;
    padding: 1rem;
    background: rgba(219,85,129,.12549019607843137);
}
.ConfirmedDiv,.ActiveDiv,.RecoveredDiv,.DeceasedDiv{
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
}
.ActiveDiv{
    background: rgba(66, 100, 212, 0.125);
}
.RecoveredDiv:hover{
    background: rgba(40,167,69,.12549019607843137);

}
.DeceasedDiv:hover{
    background: rgba(108,117,125,.06274509803921569);

}
.ConfirmedDiv:hover{
    background: rgba(255,7,58,.12549019607843137);

}
.VaccinatedDose2{
    color:rgb(47, 255, 158);
    padding: 1rem;
    background: rgba(142, 233, 142, 0.125);
}
.VaccinatedDose1{
    color:rgb(0, 204, 255);
    padding: 1rem;
    background: rgba(140, 224, 235, 0.125);
}
@media (max-width: 576px){
    .vaccine {
        flex-direction: column;
    }
}

.mode {
    float:right;
}
.change {
    cursor: pointer;
   
    border-radius: 40%;
    width: 20px;
    
    padding: 5px;
    margin: 1rem;
}
.dark{
    background-color:white;
    color: black;
}
.table{
    --bs-table-hover-color: white;
    --bs-table-hover-bg: rgba(124, 122, 122, 0.548);
}
.alerts, .alerts a {
    background: rgba(220,53,69,.12549019607843137);
    color: #dc3545;
    font-weight: 600;
}


.Loadercontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: #2e2f30;
   
   
}

.loader {
    
    display: flex;
}

.loader span {
    position: relative;
    width: 50px;
    height: 50px;
    background: #eaeef0;
    margin: 0 10px;
    border: 5px solid #eaeef0;
    border-radius: 50%;
   
}

.loader span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #5c89ff;
    border-radius: 50%;
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.1),
                inset -1px -1px 5px rgba(255, 255, 255, 1);
    transform: scale(0);
    animation: animateDots 3.5s linear infinite, animateColor 5s linear infinite;
    animation-delay: calc(var(--i) * 0.2s);
}

@keyframes animateDots {
    0%, 9.99%, 70.001%
    {
        transform: scale(0);
    }
    10%, 70%
    {
        transform: scale(1);
    }
}

@keyframes animateColor {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}